################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/ConsoleApp1/FileContentIndex
/ConsoleApp1/bin/Debug/netcoreapp3.1
/ConsoleApp1/obj/Debug/netcoreapp3.1
/.vs/ConsoleApp1/v17/.suo
